extends layout

block head
  meta(property="og:title", content="The Birthday Helper")
  meta(property="og:description", content="An app to help manage the onslaught of birthday posts on Facebook.")
  meta(property="og:image", content="http://www.thebirthdayhelper.com/images/logo.png")
  meta(property="og:type", content="website")
  meta(property="og:url", content="http://www.thebirthdayhelper.com/")
  meta(property="og:site_name", content="The Birthday Helper")
  meta(property="fb:admins", content="708755493") 

block content
  .container
    div#fb-root
    .row
      h1.span12.logo= title
    .row
      p.span12
        strong Manage the onslaught of birthday posts on Facebook.
    .row.visible-desktop.visible-tablet.hidden-phone
      .span12.fb-like(data-href="http://www.thebirthdayhelper.com/",data-send="true", data-width="450", data-show-faces="false")
    .row.hidden-desktop.hidden-tablet.visible-phone
      .span12.fb-like(data-href="http://www.thebirthdayhelper.com/",data-send="false", data-layout="button_count", data-width="450", data-show-faces="false")
    #not-logged-in
      .row
        .span6
          p This app helps you see a list of all your birthday posts, automatically like and generate personalized comments for them. It will save you hours on your birthday.
      .row
        .span12
          a#fb-login(href="#")
            img(src="images/login-button.png")
          | to continue - we won't touch your timeline until you ask us to.
    #logged-in
      p#getting-birthday-posts Fetching your birthday posts now, please wait...&nbsp;
        i.icon-spinner.icon-spin
      .got-no-birthday-posts
        p You have no birthday posts. Come back on your birthday. In the mean time, here's some Family Guy.
        div
          iframe(width="640",height="360",src="http://www.youtube.com/embed/zIom3LSbB0I?feature=player_detailpage",frameborder="0",allowfullscreen)
      .got-birthday-posts
        .customize-comments-view
          .row
            .span12
              strong Customize Comment Templates
              p Not happy with the comments we made for you? Not a problem, you can change them here...
              #comment-template-list                            
          .row            
            .span12.call-to-action-row
              button.customize-comments-save.btn.btn-primary Save
              button.customize-comments-save.btn Cancel  
        .posts-view
          p Here are your birthday posts...
              span#summary              
          p Click the button to perform the actions listed below each post. If you don't like something, click the &nbsp;
            i.icon-ban-circle
            | &nbsp; icon to stop that action happening.
            br
            span.opacity-please Posts that look like this don't need any comments or likes.
            .row
              .span12.call-to-action-row
                button.do-comments-and-likes.btn.btn-primary Add comments and likes
                button.do-likes.btn.btn-info Like the posts, but don't add any comments
                .btn-group
                  button.more-options.btn.dropdown-toggle(data-toggle="dropdown")
                    | Customize...&nbsp;
                    span.caret
                  ul.dropdown-menu
                    li
                      a.customize-comments(href="#") ...comments
            .row
              .span12
                #birthday-posts.container.table
            .row
              .span12.call-to-action-row
                button.do-comments-and-likes.btn.btn-primary Add comments and likes
                button.do-likes.btn.btn-info Like the posts, but don't add any comments

block late-scripts
  script(src='javascripts/main.js')
  script(src='javascripts/mustache.js')