extends layout

block head
  meta(property="og:title", content="The Birthday Helper")
  meta(property="og:description", content="An app to help manage the onslaught of birthday posts on Facebook.")
  meta(property="og:image", content="http://www.thebirthdayhelper.com/images/logo.png")
  meta(property="og:type", content="website")
  meta(property="og:url", content="http://www.thebirthdayhelper.com/")
  meta(property="og:site_name", content="The Birthday Helper")
  meta(property="fb:admins", content="708755493") 

block content
  .container
    div#fb-root
    .row
      h1.span12.logo= title
    .row
      p.span12
        strong An app to help manage the onslaught of birthday posts on Facebook.
    .row.visible-desktop.visible-tablet.hidden-phone
      .span12.fb-like(data-href="http://www.thebirthdayhelper.com/",data-send="true", data-width="450", data-show-faces="false")
    .row.hidden-desktop.hidden-tablet.visible-phone
      .span12.fb-like(data-href="http://www.thebirthdayhelper.com/",data-send="false", data-layout="button_count", data-width="450", data-show-faces="false")
    #not-logged-in
      .row
        p.span12 Please Login with Facebook to continue...
      .row
        .span12
          a#fb-login(href="#")
            img(src="images/login-button.png")
    #logged-in
      p#getting-birthday-posts Fetching your birthday posts now, please wait...
      .got-no-birthday-posts
        p You have no birthday posts. Come back on your birthday. In the mean time, here's some Family Guy.
        div
          iframe(width="640",height="360",src="http://www.youtube.com/embed/zIom3LSbB0I?feature=player_detailpage",frameborder="0",allowfullscreen)
      p.got-birthday-posts Here are your birthday posts...
        span#summary
      .got-birthday-posts
        p Click the button to perform the actions listed below each post. If you don't like something, click the &nbsp;
          i.icon-ban-circle
          | &nbsp; icon to stop that action happening.
          br
          span.opacity-please Posts that look like this don't need any comments or likes.
          .row
            .span12
              button.do-comments-and-likes.btn.btn-primary Post comments and likes
              button.do-likes.btn.btn-info Like the posts, but don't add any comments
              #birthday-posts.container.table
              button.do-comments-and-likes.btn.btn-primary Post comments and likes
              button.do-likes.btn.btn-info Like the posts, but don't add any comments

block late-scripts
  script(src='javascripts/main.js')
  script(src='javascripts/mustache.js')