/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/
.do-comments-and-likes,.got-birthday-posts {
	display: none;
}

#birthday-posts {
	margin: 10px;
}