#fb-login {
	margin-right: 5px;
}

.call-to-action-row {
	margin-top: -20px;
}

.call-to-action-row button {
	margin-top: 20px;
	margin-right: 20px;
}

.got-birthday-posts, .got-no-birthday-posts, #logged-in, #not-logged-in {
	display: none;
}

#not-logged-in {
	margin-top: 6px;
}

#birthday-posts {
	margin: 10px;
}

.opacity-please {
	opacity: 0.3;
}

.postRow {
	padding: 10px 0;
	border-top: 1px solid silver;
	/*border-bottom: 1px solid silver;*/
}

.no-action-required {
	opacity: 0.3;
}

.no-action-required .nickname-info {
	display: none;
}

.postRow:last-child {
	border-bottom: 1px solid silver;
}

.logo {
	text-indent: 45px;
	background-position: top left;
	background-repeat: no-repeat;
	background-image: url('../images/logo40x40.png');
}

.nickname-textbox input {
	height: 0.85em;
	width: 10em;
}

.nickname-textbox .input-append {
	margin-top: -2px;
	margin-bottom: 0;
}

/*Editing nickname*/
.postRow.editing-nickname .nickname-button {
	display: none;
}

.postRow.editing-nickname .nickname-textbox{
	display: inline;
}

.postRow.editing-nickname .nickname-aka {
	display: none;
}

/*Has nickname*/
.postRow.has-nickname .nickname-button {
	display: none;
}

.postRow.has-nickname .nickname-textbox {
	display: none;
}

.postRow.has-nickname .nickname-aka {
	display: inline;
}

/*No nickname*/
.nickname-button {
	padding-left: 12px;
	font-size: 0.8em;
	display: inline;
}

.postRow .nickname-textbox {
	display: none;
}

.postRow .nickname-aka {
	display: none;
}

.postRow .nickname-aka .btn-group {
	margin-top: -4px;
}

/* Editing comment tempates */
.customize-comments-view {
	display: none;
}

.reset-template {
	display: none;
	width: 0px;
	/*opacity: 0.3;*/
}

 .edit-comment-template input {
	height: 0.85em;
	width: 15em;
}