/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
*/
.do-comments-and-likes,.got-birthday-posts, #logged-in, #not-logged-in {
	display: none;
}

#not-logged-in {
	margin-top: 6px;
}

#birthday-posts {
	margin: 10px;
}

/*img.no-resize {
  min-height: 22px;
  min-width: 22px;
}
*/
.opacity-please {
	opacity: 0.3;
}

.logo {
	text-indent: 45px;
	background-position: top left;
	background-repeat: no-repeat;
	background-image: url('../images/logo40x40.png');
}